In [1]:
import pandas as pd
import numpy as np

In [2]:
num_rows = 50

data = {
    'Produto':[f'Produto_{i}' for i in range(1, num_rows + 1)],
    'Categoria':np.random.choice(['Televisão', 'Computador', 'Celular', 'Tablet', 'Impressora'], size=num_rows),
    'Preço':np.random.uniform(100.0,2000.0, size=num_rows).round(2),
    'Quantidade_Estoque':np.random.randint(1, 50, size=num_rows)
    }

In [3]:
df=pd.DataFrame(data)

In [4]:
df['Multiplicar']=df['Preço']*df['Quantidade_Estoque']

In [5]:
def Multiplicar2(x):
            return x['Quantidade_Estoque'] * x['Preço']

In [6]:
df['Multiplicar2'] = df.apply(Multiplicar2,axis=1)
df

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
0,Produto_1,Celular,975.30,33,32184.90,32184.90
1,Produto_2,Computador,1044.27,39,40726.53,40726.53
2,Produto_3,Tablet,245.19,12,2942.28,2942.28
3,Produto_4,Televisão,259.71,44,11427.24,11427.24
4,Produto_5,Impressora,1106.43,46,50895.78,50895.78
5,Produto_6,Televisão,908.24,19,17256.56,17256.56
6,Produto_7,Computador,501.17,3,1503.51,1503.51
7,Produto_8,Tablet,193.70,38,7360.60,7360.60
8,Produto_9,Celular,865.97,30,25979.10,25979.10
9,Produto_10,Impressora,1740.60,27,46996.20,46996.20
10,Produto_11,Impressora,118.78,9,1069.02,1069.02
11,Produto_12,Televisão,222.40,19,4225.60,4225.60
12,Produto_13,Televisão,1234.87,27,33341.49,33341.49
13,Produto_14,Televisão,1129.66,34,38408.44,38408.44
14,Produto_15,Computador,519.33,37,19215.21,19215.21
15,Produto_16,Impressora,305.62,20,6112.40,6112.40
16,Produto_17,Celular,844.86,7,5914.02,5914.02
17,Produto_18,Computador,1152.01,29,33408.29,33408.29
18,Produto_19,Computador,1471.82,42,61816.44,61816.44
19,Produto_20,Impressora,1268.39,17,21562.63,21562.63
20,Produto_21,Celular,701.41,3,2104.23,2104.23
21,Produto_22,Impressora,1749.62,26,45490.12,45490.12
22,Produto_23,Impressora,258.45,24,6202.80,6202.80
23,Produto_24,Celular,1254.80,5,6274.00,6274.00
24,Produto_25,Televisão,466.88,16,7470.08,7470.08
25,Produto_26,Tablet,1899.76,12,22797.12,22797.12
26,Produto_27,Tablet,1446.12,24,34706.88,34706.88
27,Produto_28,Tablet,822.82,34,27975.88,27975.88
28,Produto_29,Impressora,740.06,46,34042.76,34042.76
29,Produto_30,Celular,957.99,23,22033.77,22033.77
30,Produto_31,Tablet,1867.03,46,85883.38,85883.38
31,Produto_32,Televisão,501.76,5,2508.80,2508.80
32,Produto_33,Celular,1992.16,3,5976.48,5976.48
33,Produto_34,Tablet,1144.21,13,14874.73,14874.73
34,Produto_35,Computador,1086.45,29,31507.05,31507.05
35,Produto_36,Celular,940.11,38,35724.18,35724.18
36,Produto_37,Computador,1300.47,19,24708.93,24708.93
37,Produto_38,Televisão,1332.53,5,6662.65,6662.65
38,Produto_39,Televisão,1633.23,1,1633.23,1633.23
39,Produto_40,Televisão,1813.85,2,3627.70,3627.70
40,Produto_41,Computador,736.74,26,19155.24,19155.24
41,Produto_42,Computador,670.89,32,21468.48,21468.48
42,Produto_43,Celular,1579.19,30,47375.70,47375.70
43,Produto_44,Tablet,816.56,36,29396.16,29396.16
44,Produto_45,Impressora,203.88,36,7339.68,7339.68
45,Produto_46,Computador,273.68,33,9031.44,9031.44
46,Produto_47,Celular,847.73,29,24584.17,24584.17
47,Produto_48,Televisão,423.85,16,6781.60,6781.60
48,Produto_49,Celular,1630.29,17,27714.93,27714.93
49,Produto_50,Televisão,535.73,16,8571.68,8571.68

In [7]:
df['Multiplicar2'].min()
df['Multiplicar2'].max()
df['Multiplicar2'].std()
df['Multiplicar2'].median()

np.float64(20341.845)

In [8]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
1,Produto_2,Computador,1044.27,39,40726.53,40726.53
6,Produto_7,Computador,501.17,3,1503.51,1503.51
14,Produto_15,Computador,519.33,37,19215.21,19215.21
17,Produto_18,Computador,1152.01,29,33408.29,33408.29
18,Produto_19,Computador,1471.82,42,61816.44,61816.44
34,Produto_35,Computador,1086.45,29,31507.05,31507.05
36,Produto_37,Computador,1300.47,19,24708.93,24708.93
40,Produto_41,Computador,736.74,26,19155.24,19155.24
41,Produto_42,Computador,670.89,32,21468.48,21468.48
45,Produto_46,Computador,273.68,33,9031.44,9031.44

In [9]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado2

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
1,Produto_2,Computador,1044.27,39,40726.53,40726.53
6,Produto_7,Computador,501.17,3,1503.51,1503.51
14,Produto_15,Computador,519.33,37,19215.21,19215.21
17,Produto_18,Computador,1152.01,29,33408.29,33408.29
18,Produto_19,Computador,1471.82,42,61816.44,61816.44
34,Produto_35,Computador,1086.45,29,31507.05,31507.05
36,Produto_37,Computador,1300.47,19,24708.93,24708.93
40,Produto_41,Computador,736.74,26,19155.24,19155.24
41,Produto_42,Computador,670.89,32,21468.48,21468.48

In [10]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado3

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
3,Produto_4,Televisão,259.71,44,11427.24,11427.24
4,Produto_5,Impressora,1106.43,46,50895.78,50895.78
9,Produto_10,Impressora,1740.60,27,46996.20,46996.20
10,Produto_11,Impressora,118.78,9,1069.02,1069.02
15,Produto_16,Impressora,305.62,20,6112.40,6112.40
18,Produto_19,Computador,1471.82,42,61816.44,61816.44
19,Produto_20,Impressora,1268.39,17,21562.63,21562.63
21,Produto_22,Impressora,1749.62,26,45490.12,45490.12
22,Produto_23,Impressora,258.45,24,6202.80,6202.80
28,Produto_29,Impressora,740.06,46,34042.76,34042.76
30,Produto_31,Tablet,1867.03,46,85883.38,85883.38
44,Produto_45,Impressora,203.88,36,7339.68,7339.68

In [12]:
caminho = (r'C:\Users\bernardo_b_garcia\Downloads\qualquer\repositorio-bernardo1\exemplo-aplicativo.xlsx')
df.to_excel(caminho)